<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abcd.hayvandogumtakibi2">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon_new"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_bildirim" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/GCMIconColor" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/gcm_notification_channel_id" />

        <activity
            android:name=".ActivityKayitAra"
            android:label="@string/activity_ara_title"
            android:screenOrientation="locked"
            android:theme="@style/NoActionBar2" />
        <activity
            android:name=".ActivityTarihHesapla"
            android:screenOrientation="locked"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ActivityEdit"
            android:screenOrientation="locked"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".PrimaryActivity"
            android:label="@string/app_name"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityKayitDuzenle"
            android:label="@string/activity_duzenle_title"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityKritikler"
            android:label="@string/activity_kritikler_title"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDogumKayit"
            android:screenOrientation="locked"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".ActivityPeriods"
            android:label="@string/activity_periods_title"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityDetails"
            android:screenOrientation="locked"
            android:theme="@style/NoActionBar4" />
        <activity
            android:name=".ActivityGerceklesenler"
            android:label="@string/nav_gerceklesen_dgmlar"
            android:screenOrientation="locked"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActivityPermission"
            android:label="@string/activity_permissions"
            android:screenOrientation="locked"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".DemoActivity"
            android:screenOrientation="locked"
            android:theme="@style/NoActionBar3">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".TarihKontrol"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="SET_AN_ALARM" />
            </intent-filter>
        </receiver>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.sariyazilim.hayvangebeliktakibi"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".DateDedectorService"
            android:enabled="true"
            android:exported="true"
            android:label="@string/service_tag"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>